<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Data</title>
  </head>
  <body>
    <h1>Realtime Data</h1>

    <div id="data-container"></div>

    <script>
      // Inisialisasi koneksi WebSocket
      const socket = new WebSocket(
        "ws://localhost:8000/ws/data-kebun/terbaru/"
      );

      // Event listener saat koneksi WebSocket terhubung
      socket.onopen = function (event) {
        console.log("WebSocket connected");
        socket.send(
          JSON.stringify({
            action: "get_latest_data_kebun",
            id_kebun: 4,
          })
        );
      };

      // Event listener saat pesan diterima dari WebSocket
      socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        console.log("Received data:", data);

        // Tampilkan data kebun pada halaman HTML
        const dataContainer = document.getElementById("data-container");
        dataContainer.innerHTML = data;
      };

      // Tangani peristiwa saat koneksi WebSocket ditutup
      socket.onclose = function () {
        console.log("WebSocket connection closed");
      };
    </script>
  </body>
</html>
