<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Data</title>
  </head>
  <body>
    <h1>Realtime Data Testing</h1>

    <div id="data-container"></div>

    <script>
      // Inisialisasi koneksi WebSocket
      let id_kebun = 4;
      const socket = new WebSocket(
        "ws://" + window.location.host + "/data-kebun/terbaru/" + id_kebun
      );
      console.log(socket);

      // Event listener saat koneksi WebSocket terhubung
      socket.onopen = function (event) {
        console.log("WebSocket connected");
        socket.send(
          JSON.stringify({
            id_kebun: id_kebun,
          })
        );
      };

      // Event listener saat pesan diterima dari WebSocket
      socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        console.log("Received data:", data);

        // Tampilkan data kebun pada halaman HTML
        const message = data["message"];
        const dataContainer = document.getElementById("data-container");
        dataContainer.innerHTML = `<p>id: ${message["id"]}</p><p>tanggal dan waktu: ${message["created_at"]}</p><p>ph: ${message["ph"]}</p><p>temperatur: ${message["temperatur"]}</p><p>tds: ${message["tds"]}</p><p>intensitas_cahaya: ${message["intensitas_cahaya"]}</p><p>kelembapan: ${message["kelembapan"]}</p><p>ec: ${message["ec"]}</p><p>hasil rekomendasi: ${message["hasil_rekomendasi"]}</p>`;
      };

      // Tangani peristiwa saat koneksi WebSocket ditutup
      socket.onclose = function () {
        console.log("WebSocket connection closed");
      };
    </script>
  </body>
</html>
