<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Data</title>
  </head>
  <body>
    <h1>Realtime Data Testing</h1>

    <div>
      <ul id="data-container"></ul>
    </div>

    <script>
      // Inisialisasi koneksi WebSocket
      let id_kebun = 4;
      const socket = new WebSocket(
        "ws://" + window.location.host + "/kebun/" + id_kebun + "/data/terbaru"
      );
      console.log(socket);

      // Event listener saat koneksi WebSocket terhubung
      socket.onopen = function (event) {
        console.log("WebSocket connected");
        socket.send(
          JSON.stringify({
            id_kebun: id_kebun,
          })
        );
      };

      // Event listener saat pesan diterima dari WebSocket
      socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        console.log("Received data:", data);

        // Tampilkan data kebun pada halaman HTML
        const message = data["message"];
        const dataContainer = document.getElementById("data-container");
        dataContainer.innerHTML = `<li>id: ${message["id"]}</li><li>tanggal dan waktu: ${message["tanggal"]} ${message["waktu"]}</li><li>ph: ${message["ph"]}</li><li>temperatur: ${message["temperatur"]}</li><li>tds: ${message["tds"]}</li><li>intensitas_cahaya: ${message["intensitas_cahaya"]}</li><li>kelembapan: ${message["kelembapan"]}</li><li>hasil rekomendasi: ${message["hasil_rekomendasi"]}</li>`;
      };

      // Tangani peristiwa saat koneksi WebSocket ditutup
      socket.onclose = function () {
        console.log("WebSocket connection closed");
      };
    </script>
  </body>
</html>
